:root {
	// Colors
	--primary: #1b1b1b;
	--accent: #619de7;
	--gray: #767676;
	--lightGray: #e5e5e5;

	// Fonts
	--fontFamily: "Open Sans", sans-serif;
	--fontSize: 16px;
	--lineHeight: 1.1;
	--letterSpacing: 0.04em;

	//   Animation
	--anim: 0.3s ease;
}
